.main {
  /* border: 1px solid red; */
  margin-top: 10px;
  margin-left: 10px;
  display: inline-block;
}
img {
  width: 350px;
  height: 300px;
  margin-top: 10px;
  /* border: 1px solid blue; */
}
.product {
  color: white;
  text-align: center;
}
